
$tablet: 769px;
$large: 426px;
$mid: 376px;
$small: 322px;


@mixin tablet_device {
    @media (max-width: #{$tablet}){
        @content
    }
};
@mixin large_device {
    @media (max-width: #{$large}){
        @content
    }
};
@mixin mid_device {
    @media (max-width: #{$mid}){
        @content
    }
};
@mixin small_device {
    @media (max-width: #{$small}){
        @content
    }
};
@mixin cart($property, $ltr-value){
   
    height: 220px;
    #{$property}: $ltr-value;
    padding-bottom:20px ;
    display: flex;
    justify-content: center;
    align-items: center;  
   
    .cart_container{
        position: relative;
        width: 100%;
        height: 100%;
        .item_img{
            height: 100%;
            width: 100%;
            }
        .info{
            position: absolute;
            width: 100%;
            height: 100%;
            background:linear-gradient(to bottom,rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.95));
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .info_txt{
                position: absolute;
                bottom: 20px;
                width: 95%;
                .txt_container{    
                    overflow: hidden;
                    width: 100%;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    h5{
                    color: white;
                    font-weight: 500;
                    font-size: 20px;
                    @include mid_device{ font-size: 14px; }
                    }
                }
                p{
                    color: gray;
                    font-weight: 500;
                }
            }
        }
    }
}
